<header th:fragment="loginpageheader">
    <div class="header-container">
        <div class="logo">

            <img th:src="@{/images/logo.png}"  width="100" height="auto" />

        </div>
        <nav>
            <ul class="menu">
                <!-- Form 1 -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"><i class="fas fa-file-alt"></i> choose login</a>
                    <ul class="dropdown-menu">
                        
                        <li><a th:href="@{/login}"><i class="fas fa-plus"></i> LOGIN</a></li>
                    </ul>
                </li>
  
                
        </nav>
         
         
    </div>
  </header>
  