<form action="/register" method="post">
    <label>Name:</label>
    <input type="text" name="name" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>
    
    <label>Contact no:</label>
    <input type="text" name="contactno" required><br>
    
    <label>Staffno:</label>
    <input type="text" name="staffno" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>Role:</label>
    <select name="role">
        <option value="USER">User</option>
        <option value="ADMIN">Admin</option>
    </select><br>

    <button type="submit">Register</button>
</form>
